body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('https://chappellroberts.com/wp-content/uploads/2022/05/USF-Health-Social.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -100px;
}

.site-header {
    
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #000000;
}

.site-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

    .site-nav a {
        color: #000000;
        text-decoration: none;
        padding: 10px 15px;
        margin: 0 10px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

        .site-nav a:hover {
            background-color: #eaeaea;
        }

.content-area {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}

.welcome-section {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 10px;
    z-index: 2;
    margin-right: 20px;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.welcome-section h1,
.welcome-section p,
.welcome-section .register-btn {
    margin: 10px 0;
}

.register-btn {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

    .register-btn:hover {
        background-color: #216938;
    }

.site-footer {
    background-color: #006747;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-content {
    margin: auto;
    padding: 0 20px;
}

.footer-link {
    color: #ffffff;
    text-decoration: underline;
}

    .footer-link:hover {
        color: #28a745;
    }
